

<div class="row">
  <div class="col-md-6">
    <div class="card mt-5">
      <div class="card-header">
        Products
      </div>
      <div class="card-body">
        <h5 class="card-title">Total: <%= @product_count %></h5>
        <%= link_to "View Products", admin_products_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card mt-5">
      <div class="card-header">
        Categories
      </div>
      <div class="card-body">
        <h5 class="card-title">Total: <%= @category_count %></h5>
        <%= link_to "View Categories", admin_categories_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

