<div class="p-3 mb-2 jumbotron text-center bg-success text-white">
  <h1 class="display-4">About Us</h1>
  <p class="lead">Old People, Selling Plants Online!</p>
</div>
<div class="container mt-5">
  <p>In a twist of fate that could only be described as absurd, our tech-averse retiree group, once devoted members of a book club that swore by paperbacks, found ourselves running an online plant store. It all started when our beloved community garden was slated for demolition to make way for a new tech startup. Desperate to save our sanctuary, we decided to dive into the digital world, despite our experience with computers being limited to the occasional email to our grandchildren. After a series of hilarious and misguided attempts at web development, including a memorable instance where our website played loud bird calls whenever someone clicked "Buy Now," we finally managed to launch "The Jungle." Surprisingly, our quirky, nature-loving personalities shone through, creating a unique brand that captured the hearts of plant enthusiasts worldwide. Today, we run the most charmingly chaotic yet endearing online plant store, proving that sometimes, the most ridiculous beginnings can lead to the most unexpectedly delightful outcomes.</p>
</div>